name: helper

on:
  workflow_call:
    inputs:
      file_path:
        description: test
        type: string
jobs:
  download-file:
    runs-on: ubuntu-latest
    steps:
      - name: Download generated file
        uses: actions/download-artifact@v4
        with:
          name: extracted-data
          path: ./downloads  # Descarga el archivo en la carpeta local `downloads`
      - name: Check files
        shell: bash
        run: |
          value=`cat ./downloads/extractedData.json`
          echo The result is $value
      - name: List downloaded files
        shell: bash
        run: ls -al ../
      - name: List downloaded files 2
        shell: bash
        run: ls -al ../../
  find-file-please:
    runs-on: ubuntu-latest
    steps:
      - name: List current path
        shell: bash
        run: ls -al ../
      
      - name: List current path
        shell: bash
        run: ls -al ../../
      - name: Uses file
        shell: bash
        run: |
          value=`cat ${{inputs.file_path}}`
          echo The result is $value